@model CodingEventsDemo.ViewModels.TaskDetailViewModel
<h1>Task</h1>

<table class="table">
    <tr>
        <th>Client name</th>
        <th>Project description</th>
    </tr>
    <tr>
        <td>@Model.Project.Client.Name</td>
        <td>@Model.Project.Description</td>
    </tr>
</table>

<h3>Task details</h3>
<p>@Model.Details</p>

<p>
    <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@Model.TaskId">Edit Task</a>
</p>
<p>
    <a asp-controller="Tasks" asp-action="Create" asp-route-id="@Model.Project.Id">Add a new Task to this project</a>
</p>