@model CodingEventsDemo.ViewModels.ProjectDetailViewModel
<h2>Project:</h2>
<h1>@Model.Description</h1>
<p>
    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.ProjectId">Edit project description</a>
</p>

<hr />

<h2>Client Name:</h2>
<h1>@Model.ClientName</h1>

<hr />

<p>
    <a asp-controller="Tasks" asp-action="Create" asp-route-id="@Model.ProjectId">Add a Task</a>
</p>


<h2>Tasks in project</h2>

<table class="table">
    <tr>
        <th>Task Id</th>
        <th>Task Details</th>
    </tr>
    @foreach (var task in Model.Tasks)
    {
        <tr>
            <td>@task.Id</td>
            <td><a asp-controller="Tasks" asp-action="Detail" asp-route-id="@task.Id">@task.Details</a></td>
        </tr>
    }
</table>